body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #559ecf, #f2c6cc);
  height: 100vh;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #200c3b;
}

::-webkit-scrollbar-thumb:hover {
  background: #200c3b;
  cursor: pointer;
}
